/*
    Document   : Planner/w5.css
    Created on : 2015-06-08 06:15 PM
    Author     : asanchez-ep
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/*Background image to the webpage*/
body{
    background-image:url('http://api.ning.com/files/kV4MbYiv7oRVe-VOx9yTx9U6DhJMGWzzReU6CPad55lRNgIxBoPwnvC*pKtwnXcyZrrY1xttuiLjCixBXjmupe2wDI3zPIws/1082020028.jpeg');
}

/*Sets up the background and basic layout of the calendar*/
#calendar{
    width: 750px;
    height:700px;
    margin: 0 auto 0 auto;
    background-color: #CCFF66;
    border-radius: 3%;
    opacity: .76;
}

#calendar>p{
    font-family: Monospace;
    color: #330033;
}
#calendar-month-year{
    font-size: 50px;
    text-align: center;
}

#calendar-day-date{
    font-size: 30px;
    margin-left: 30px;
}

 #textDiv{
    margin: 30px;
}
 
.taskholder{
/*     font-family: Georgia; */
    font-size: 16px;
}
.taskholder > * {
    font-size: 16px;
    padding-left: 30px;
    display: inline-block;
    color: #330033;
}

root {
    display: block;
}